@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300;400;500&display=swap');

/*font-family: 'Open Sans', sans-serif;*/

body {
    background: #7D121F;
}

nav {
    height: 44px;
    background: #500F17;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
}

nav .button {
    cursor: pointer;
    background-color: transparent;
    background-image: url("images/logo-simpleapps.svg");
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    border: 0;
    width: 60px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
}

nav .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF3850;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.search {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    height: 94px;
}

.search input {
    display: block;
    position: absolute;
    top: 23px;
    left: 20px;
    border: 0;
    height: 45px;
    border-radius: 36.5px;
    width: calc(100% - 40px);
    appearance: none;
    background-color: white;
    background-image: url('images/ic-search.svg');
    background-repeat: no-repeat;
    background-position: 17px 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0 40px;
}

.search input:focus {
    outline: none;
}

.search input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background: url('images/ic-close-black.svg') no-repeat 50% 50%;
}

.content-header {
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
    height: 38px;
    background: rgba(0, 0, 0, 0.54);
    border-bottom: #F7354D solid 3px;
}

.content-header table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.content-header th {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.content-header th:nth-child(1),
.content-header th:nth-child(2),
.content-header th:nth-child(3),
.content-header th:nth-child(4)
{
    width: 22%;
}

.content-header th.menu {
    width: 50px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 62px;
    overflow: auto;
}

.content #rankings,
.content #rankings tbody {
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
}

.content #rankings td:nth-child(1),
.content #rankings td:nth-child(2),
.content #rankings td:nth-child(3),
.content #rankings td:nth-child(4)
{
    width: 22%;
    text-align: center;
}

.content #rankings td {
    position: relative;
    height: 53px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

.content #rankings td::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    background: #7D121F;
    height: 3px;
}

.content #rankings td.more {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images/ic-arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ad {
    background: #500F17;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62px;
    overflow: visible;
}

.ad .slot300x50 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 50px;
}

.ad-shadow {
    content: '';
    position: fixed;
    background: linear-gradient(0deg,  black,transparent);
    height: 98px;
    bottom: -10px;
    left: 0;
    right: 0;
}
